services:
  postgresdb:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: tradeDB
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      DB_HOST: postgresdb
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: 123456
      DB_NAME: tradeDB
    depends_on:
      - postgresdb
    volumes:
      - ./app:/trade-app/app
      - ./server.js:/trade-app/server.js
      - ./package.json:/trade-app/package.json

volumes:
  postgres_data: