services:
  postgresdb:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=bezkoder_db
    ports:
      - "5433:5432"
    volumes:
      - db:/var/lib/postgresql/data

  app:
    depends_on:
      - postgresdb
    build: .
    restart: unless-stopped
    ports:
      - "6868:8080"
    environment:
      - DB_HOST=postgresdb
      - DB_USER=postgres
      - DB_PASSWORD=123456
      - DB_NAME=bezkoder_db
      - DB_PORT=5432
    stdin_open: true
    tty: true

volumes:
  db: